@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  margin: 0;
  font-family: 'Zilla Slab Highlight', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.board-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
}

.blue-board {
  background-color: #d39b22;
}

.dark-green-board {
  background-color: #7a060b;
}

.byteburst-text {
  font-family: 'Bungee', cursive;
  color: #7a0b0b;
  font-size: 40px;
}

.button.dark-blue-button {
  background-color: #ffffff;
  font-size: 70%;
}

.button:not(:last-child) {
  margin-right: 10px;
}

.logo-container {
  background-color: #ffffff;
  width: 12%;
}

.logo-image {
  width: 100%;
  height: auto;
}

.white-board {
  background-color: white;
}

/* Additional CSS for positioning */
.App {
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  padding: 10px;
}

.logo-container {
  width: 12%;
  margin-right: 20px;
}

.logo-image {
  width: 100%;
  height: auto;
}

.byteburst-container {
  margin-top: 10px;
}

/* Additional Chakra UI Styling */
.box {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.height-60 {
  height: 60px;
}

.width-100 {
  width: 100%;
}

.bg-white {
  background-color: white;
}

.p-10 {
  padding: 10px;
}

.fontSize-4xl {
  font-size: 2rem;
}

.fontWeight-bold {
  font-weight: bold;
}

.color-red {
  color: #7a0b0b;
}

.bg-blue {
  background-color: #185075;
}

.bg-dark-green {
  background-color: #004d00;
}

.bg-light-blue {
  background-color: #ffffff;
}

.text-dark-blue {
  color: #00008b;
}

.fontSize-sm {
  font-size: 0.875rem;
}

.marginRight-10 {
  margin-right: 10px;
}

.width-12 {
  width: 12%;
}

.marginRight-20 {
  margin-right: 20px;
}

.marginTop-10 {
  margin-top: 10px;
}

.board-text {
  color: white;
}

.green-board-text {
  font-family: 'Bebas Neue', cursive;
  color: #d39b22;
  font-size: 26px;
  text-align: center;
  padding: 10px;
}


